/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 1.7;
  font-family: "PT Mono", monospace;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 60px 0;
}

.section-title {
  position: relative;
  font-size: 36px;
  margin: 0 0 60px 0;
  font-family: "Fira Code", monospace;
}

.section-title::after {
  position: absolute;
  content: '';
  bottom: -12px;
  left: 50%;
  width: 50px;
  height: 10px;
  transform: translateX(-50%);
  background: #ff6600;
}

/* Navigation */
.navigation {
  position: fixed;
  -ms-flex-align: right;
      align-items: right;
  top: 0;
  width: 100%;
  height: 46px;
  z-index: 100;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  background-color: rgba(240, 240, 240, 0.7);
}

.navigation ul {
  margin: 0 0 0;
  padding: 0 10px 0 0;
}

.navigation-menu li {
  float: left;
  display: block;
  height: 40px;
  text-align: center;
  margin: 5px 14px;
  font-size: 20px;
  font-weight: bolder;
}

.navigation-menu li a {
  text-decoration: none;
  height: 16px;
  color: #3d3d3d;
}

.navigation-menu li a:hover {
  color: #ff6600;
}

.navigation-icons li {
  margin-top: 5px;
  display: inline-block;
  list-style: none;
  width: 40px;
  height: 40px;
}

.navigation-icons li a {
  font-size: 0px;
}

.navigation-icons li a i {
  font-size: 20px;
  background: #ff6600;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  border-radius: 50%;
  transition: all .3s;
}

.navigation-icons li a i:hover {
  transform: scale(1.1);
}

/* Splash */
.splash {
  height: 100vh;
  position: relative;
}

.splash::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.65;
  background-image: url("../img/code-3078609-960-720.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.splash i {
  font-size: 30px;
  background: #ff6600;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  border-radius: 50%;
}

.splash-inner {
  font-family: "Fira Code", monospace;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-title {
  color: rgba(51, 51, 51, 0.8);
  text-shadow: 2px 2px 2px #808080;
  font-size: 60px;
  margin: 48px 0 0 0;
  position: relative;
}

.page-title::after {
  position: absolute;
  content: '';
  bottom: -22px;
  left: 50%;
  width: 100px;
  height: 10px;
  transform: translateX(-50%);
  background: #ff6600;
}

.page-subtitle {
  color: rgba(51, 51, 51, 0.8);
  text-shadow: 1px 1px 2px #808080;
  margin: 48px 0 0 0;
  font-size: 30px;
}

/* Intro */
.intro {
  background: #fff;
}

.intro p {
  width: 70%;
  margin: 0 auto;
  padding: 48px 0;
  font-size: 30px;
  border-top: solid 1px #ff6600;
  border-bottom: solid 1px #ff6600;
}

/* About */
.about {
  background: #f0f0f0;
}

.about p {
  font-size: 20px;
}

/* Skills */
.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skills ul li {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 150px;
  margin: 0;
}

.skills ul li div {
  margin: auto;
}

.skill-image {
  height: 100%;
  overflow: hidden;
}

.skill-image img {
  height: 100%;
  object-fit: cover;
  transition: all 1s linear 50ms;
}

.skill-image img:hover {
  transform: scale(1.1);
}

.skill-description {
  position: relative;
}

.skill-description p {
  margin: 0;
  font-size: 20px;
  text-align: left;
}

/* Portfolio */
.portfolio {
  background: #f0f0f0;
}

.project {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
}

.project-title {
  margin: auto;
}

.project-image {
  z-index: 98;
}

.project-image img {
  width: 70%;
  transition: all 1.5s ease-in-out;
}

.project:hover .project-image img {
  transform: translate(-35%) scale(0.75, 0.75) rotate(-10deg);
}

.project-description {
  position: absolute;
  left: 45%;
  top: 50%;
  width: 30%;
  transform: translateY(-50%) scale(0.8, 0.8) rotate(-10deg);
  z-index: 1;
  transition: all 1.5s ease-in-out;
}

.project-description p {
  font-size: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project-description p a {
  text-decoration: none;
  color: #3d3d3d;
}

.project-description p a:hover {
  color: #ff6600;
}

.project:hover .project-description {
  transform: translate(35%, -50%);
  z-index: 99;
  transition: all 1.5s ease-in-out, z-index 1.5s .3s;
}

/* Contact */
form {
  margin: 0 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

form .submit-btn {
  border: none;
  margin: 20px auto auto;
  width: 200px;
  padding: 10px;
  background: #ff6600;
  border-radius: 5px;
  font-family: "PT Mono", monospace;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

form input {
  width: 47%;
}

form textarea {
  width: 97%;
  resize: none;
}

form * {
  font-family: "PT Mono", monospace;
  border: none;
  padding: 25px 10px 10px;
  border-bottom: 1px solid #ff6600;
}

.profiles-wrapper {
  padding: 0;
  margin-top: 60px;
}

.profiles-wrapper li {
  margin: 0 10px;
  display: inline-block;
  list-style: none;
  width: 50px;
  height: 50px;
}

.profiles-wrapper li a {
  font-size: 0px;
}

.profiles-wrapper li a i {
  font-size: 25px;
  background: #ff6600;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  border-radius: 50%;
  transition: all .3s;
}

.profiles-wrapper li a i:hover {
  transform: scale(1.1);
}

/* Footer */
.page-footer {
  background: #666;
}

.page-footer p {
  margin: 0;
}

@media (max-width: 767px) {
  body {
    font-size: 24px;
  }
  .container {
    padding: 0 40px;
  }
  .page-title {
    font-size: 2em;
  }
}
/*# sourceMappingURL=style.css.map */