/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 1.7;
  font-family: Cursive;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 60px 0;
}

.section-title {
  position: relative;
  font-size: 36px;
  margin: 0 0 60px 0;
  font-family: "Amatic SC", cursive;
}

.section-title::after {
  position: absolute;
  content: '';
  bottom: -12px;
  left: 50%;
  width: 50px;
  height: 10px;
  transform: translateX(-50%);
  background: #ff6600;
}

/* Navigation */
.navigation {
  position: fixed;
  -ms-flex-align: right;
      align-items: right;
  top: 0;
  width: 100%;
  z-index: 3;
}

.navigation-content {
  position: absolute;
  right: 0;
}

.navigation-content a {
  float: left;
  display: block;
  color: #3d3d3d;
  text-align: center;
  margin: 14px 32px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
}

.navigation-content a:hover {
  color: #ff6600;
}

/* Splash */
.splash {
  height: 100vh;
  position: relative;
}

.splash::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.65;
  background-image: url("../img/code-3078609-960-720.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.splash i {
  font-size: 30px;
  background: #ff6600;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  border-radius: 50%;
}

.splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-title {
  color: rgba(51, 51, 51, 0.8);
  text-shadow: 2px 2px 2px #808080;
  font-size: 60px;
  margin: 48px 0 0 0;
  position: relative;
}

.page-title::after {
  position: absolute;
  content: '';
  bottom: -22px;
  left: 50%;
  width: 100px;
  height: 10px;
  transform: translateX(-50%);
  background: #ff6600;
}

.page-subtitle {
  color: rgba(51, 51, 51, 0.8);
  text-shadow: 1px 1px 2px #808080;
  margin: 48px 0 0 0;
  font-size: 18px;
}

/* Intro */
.intro {
  background: #fff;
}

.intro p {
  width: 70%;
  margin: 0 auto;
  padding: 48px 0;
  font-size: 30px;
  border-top: solid 1px #ff6600;
  border-bottom: solid 1px #ff6600;
}

/* About */
.about {
  background: #f0f0f0;
}

.about p {
  font-size: 20px;
}

/* Skills */
.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  position: relative;
  height: 150px;
}

.skill-image {
  position: absolute;
  height: 100%;
  overflow: hidden;
}

.skill-image img {
  height: 100%;
  object-fit: cover;
  transition: all 1s linear 50ms;
}

.skill-image img:hover {
  transform: scale(1.1);
}

.skill-description {
  height: 100%;
}

.skill-description p {
  font-size: 20px;
}

.skill.right .skill-image {
  right: 50%;
  transform: translateX(50%);
}

.skill.right .skill-description {
  padding: 36px 58% 36px 0;
  text-align: right;
}

.skill.left .skill-image {
  left: 50%;
  transform: translateX(-50%);
}

.skill.left .skill-description {
  padding: 36px 0 36px 58%;
  text-align: left;
}

/* Portfolio */
.portfolio {
  background: #f0f0f0;
}

.project {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
}

.project-title {
  margin: auto;
}

.project-image {
  z-index: 2;
}

.project-image a img {
  width: 70%;
  transition: all 1.5s ease-in-out;
}

.project:hover .project-image a img {
  transform: translate(-35%) scale(0.75, 0.75) rotate(-10deg);
}

.project-description {
  position: absolute;
  left: 45%;
  top: 50%;
  width: 30%;
  transform: translateY(-50%) scale(0.8, 0.8) rotate(-10deg);
  transition: all 1.5s ease-in-out;
}

.project-description p {
  font-size: 20px;
}

.project:hover .project-description {
  transform: translate(35%, -50%);
}

/* Footer */
.page-footer {
  background: #666;
}
/*# sourceMappingURL=style.css.map */