$color-background-one: #fff;
$color-background-two: #f0f0f0;
$color-main: #ff6600;
$color-body: #3d3d3d;
$color-footer: #666;
$color-text-shadow: #808080;
$font-header: 'Fira Code', monospace;
$font-text: 'PT Mono', monospace;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  background: $color-background-one; 
  color: $color-body;
  font-size: 16px;
  line-height: 1.7;
  font-family: $font-text;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 60px 0;
}

.section-title {
  position: relative;
  font-size: 36px;
  margin: 0 0 60px 0;
  font-family: $font-header;

  &::after {
    position: absolute;
    content: '';
    bottom: -12px;
    left: 50%;
    width: 50px;
    height: 10px;
    transform: translateX(-50%);
    background: $color-main;
  }
}

/* Navigation */

.navigation {
  position: fixed;
  align-items: right;
  top: 0;
  width: 100%;
  height: 46px;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  background-color: rgba($color-background-two, 0.7);
  
  ul {
    margin: 0 0 0;
    padding: 0 10px 0 0;
  }
}

.navigation-menu li {
  float: left;
  display: block;
  height: 40px;
  text-align: center;
  margin: 5px 14px;
  font-size: 20px;
  font-weight: bolder;

  a {
    text-decoration: none;
    height: 16px;
    color: $color-body;

    &:hover {
      color: $color-main;
    }
  }
}


.navigation-icons li {
  margin-top: 5px;
  display: inline-block;
  list-style: none;
  width: 40px;
  height: 40px;

  a {
    font-size: 0px;

    i {
      font-size: 20px;
      background: $color-main;
      width: 36px;
      height: 36px;
      line-height: 36px;
      color: $color-background-one;
      border-radius: 50%;
      transition: all .3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

/* Splash */

.splash {
  height: 100vh;
  position: relative;

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.65;
    background-image: url('../img/code-3078609-960-720.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }

  i {
    font-size: 30px;
    background: $color-main;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: $color-background-one;
    border-radius: 50%;
  }
}

.splash-inner {
  font-family: $font-header;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-title {
  color: hsla(0, 0%, 20%, 0.8);
  text-shadow: 2px 2px 2px $color-text-shadow;
  font-size: 60px;
  margin: 48px 0 0 0;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    bottom: -22px;
    left: 50%;
    width: 100px;
    height: 10px;
    transform: translateX(-50%);
    background: $color-main;
  }
}

.page-subtitle {
  color: hsla(0, 0%, 20%, 0.8);
  text-shadow: 1px 1px 2px $color-text-shadow;
  margin: 48px 0 0 0;
  font-size: 30px;
}

/* Intro */

.intro {
  background: $color-background-one;

  p {
    width: 70%;
    margin: 0 auto;
    padding: 48px 0;
    font-size: 30px;
    border-top: solid 1px $color-main;
    border-bottom: solid 1px $color-main;
  }
}

/* About */

.about {
  background: $color-background-two;

  p {
    font-size: 20px;
  }
}

/* Skills */

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  li {
    display: flex;
    position: relative;
    height: 150px;
    margin: 0;

    div {
      margin: auto;
    }
  }
}

.skill-image {
  height: 100%;
  overflow: hidden;

  img {
    height: 100%;
    object-fit: cover;
    transition: all 1s linear 50ms;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.skill-description {
  position: relative;

  p {margin: 0;
    font-size: 20px;
    text-align: left;
  }
}

/* Portfolio */

.portfolio {
  background: $color-background-two;
}

.project {
  position: relative;
  display: flex;
  margin-bottom: 36px;
}

.project-title {
  margin: auto;
}

.project-image {
  z-index: 98;

  img {
    width: 70%;
    transition: all 1.5s ease-in-out;
  }
}

.project:hover .project-image img {
  transform: translate(-35%) scale(0.75, 0.75) rotate(-10deg);
}

.project-description {
  position: absolute;
  left: 45%;
  top: 50%;
  width: 30%;
  transform: translateY(-50%) scale(0.8, 0.8) rotate(-10deg);
  z-index: 1;
  transition: all 1.5s ease-in-out;

  p {
    font-size: 20px;
    display: flex;
    justify-content: space-around;

    a {
      text-decoration: none;
      color: #3d3d3d;

      &:hover {
        color: $color-main;
      }
    }
  }
}

.project:hover .project-description {
  transform: translate(35%, -50%);
  z-index: 99;
  transition: all 1.5s ease-in-out, z-index 1.5s .3s;
}

/* Contact */

form {
  margin: 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .submit-btn {
    border: none;
    margin: 20px auto auto;
    width: 200px;
    padding: 10px;
    background: $color-main;
    border-radius: 5px;
    font-family: $font-text;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
  }

  input {
    width: 47%;
  }

  textarea {
    width: 97%;
    resize: none;
  }

  * {
    font-family: $font-text;
    border: none;
    padding: 25px 10px 10px;
    border-bottom: 1px solid $color-main;
  }
}

.profiles-wrapper {
  padding: 0;
  margin-top: 60px;

  li {
    margin: 0 10px;
    display: inline-block;
    list-style: none;
    width: 50px;
    height: 50px;

    a {
      font-size: 0px;

      i {
        font-size: 25px;
        background: $color-main;
        width: 50px;
        height: 50px;
        line-height: 50px;
        color: $color-background-one;
        border-radius: 50%;
        transition: all .3s;
  
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

/* Footer */

.page-footer {
  background: $color-footer;

  p {
    margin: 0;
  }
}

@media (max-width: 600px) {

  .container {
    // padding: 0 40px;
  }

  .page-title {
    font-size: 38px;
  }

  .page-subtitle {
    font-size: 24px;
  }

  .intro p {
    width: 100%;
  }

  .skills .skill-description {
    display: none;
  }

  .project-description {
    width: 40%;

    p {
      font-size: .7em;
    }
  }

  form {
    margin: 0;
  
    input {
      width: 97%;
    }
  }
}